.container {
  width: 100%;
}

.top {
  align-items: center;
  height: desktop-vw(66px);
  padding-top: desktop-vw(8px);

  .eggs {
    grid-column: span 1;

    .egg {
      display: inline-block;
      width: desktop-vw(24px);
      aspect-ratio: 1;
      transition: color 300ms var(--ease-out-expo);

      + .egg {
        margin-left: desktop-vw(9px);
      }

      @include hover {
        &:hover {
          color: var(--green);
        }
      }
    }
  }

  .marquee {
    grid-column: 5/7;
    color: var(--grey);
    text-transform: uppercase;

    .principle {
      font-weight: 700;
      filter: blur(1.5px);
      transition: filter 300ms ease-in-out;

      @include hover {
        &:hover {
          filter: blur(0);
        }
      }
    }
  }

  .cta {
    text-align: end;
    grid-column: 8/-1;
    margin-left: auto;
  }
}

.header {
  width: 100%;

  .title {
    grid-column: 1/-1;
    text-shadow: 0 0 10px;

    @include mobile {
      margin: mobile-vw(10px) 0;
    }
  }
}
