.container {
  width: 100%;
}

.top {
  padding: desktop-vw(28px) 0 desktop-vw(20px) 0;

  .eggs {
    grid-column: span 1;

    .egg {
      display: inline-block;
      width: desktop-vw(24px);
      aspect-ratio: 1;

      + .egg {
        margin-left: desktop-vw(9px);
      }
    }
  }

  .marquee {
    grid-column: 5/7;
    color: var(--grey);

    .principle {
      font-weight: 700;
      filter: blur(1.5px);
      transition: filter 300ms ease-in-out;

      @include hover {
        &:hover {
          filter: blur(0);
        }
      }
    }
  }

  .cta {
    text-align: end;
    grid-column: 8/-1;
    margin-left: auto;
  }
}

.header {
  width: 100%;

  .title {
    grid-column: 1/-1;
    text-shadow: 0 0 10px;

    @include mobile {
      margin: mobile-vw(10px) 0;
    }
  }

  transform: translate3d(0, -100%, 0);
  transition: 800ms transform var(--ease-out-expo);
  transition-delay: 500ms;

  &.show {
    transform: translate3d(0, 0, 0);
  }
}
