.button {
  color: var(--green);
  font-size: desktop-vw(16px);
  padding: desktop-vw(4px) desktop-vw(8px);
  border: 1px solid;
  border-radius: desktop-vw(8px);
  text-transform: uppercase;
  transition: color 300ms var(--ease-out-expo),
    background-color 300ms var(--ease-out-expo);

  @include hover {
    &:hover {
      color: var(--black);
      background-color: var(--green);
    }
  }
}
