.hi {
  overflow-y: scroll;
  max-height: desktop-vh(468px);
  scrollbar-width: none !important;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  // fix bottom gradient
  padding-bottom: desktop-vh(40px);
}
