.hi {
  overflow-y: scroll;
  scrollbar-width: none !important;
  -ms-overflow-style: none;

  //todo review
  max-height: desktop-vh(449px);
  //

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  // fix bottom gradient
  padding-bottom: desktop-vh(40px);

  > div {
    height: 100%;
  }
}
