.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  grid-gap: desktop-vw(8px);
  margin-bottom: desktop-vw(8px);

  .image {
    width: 100%;
    grid-column: span 1;
    border-radius: desktop-vw(8px);
    object-fit: cover;

    &:only-child {
      grid-column: span 2;
    }
  }
}
