.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  grid-gap: desktop-vw(8px);
  margin-bottom: desktop-vw(8px);

  .image {
    grid-column: span 1;
    aspect-ratio: 684 / 403;
    width: 100%;
    height: desktop-vw(403px);
    border-radius: desktop-vw(8px);

    &:only-child {
      grid-column: span 2;
    }
  }
}
