.container {
  width: 100%;
  position: relative;
}

.footer {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  padding: desktop-vw(16px) 0 desktop-vw(24px) 0;
  width: 100%;

  .column {
    &:nth-child(1) {
      grid-column: span 2;
    }
    &:nth-child(2) {
      grid-column: span 1;
    }
    &:nth-child(3) {
      grid-column: span 1;
    }
    &:nth-child(4) {
      grid-column: span 1;
    }
    &:nth-child(5) {
      grid-column: span 2;
    }
    &:nth-child(6) {
      text-align: end;
      grid-column: span 1;
    }
  }
}

.separator {
  display: block;
}
