.container {
  width: 100%;
}

.footer {
  padding: desktop-vw(24px) 0;
  width: 100%;

  .column {
    &:nth-child(1) {
      grid-column: span 2;
    }
    &:nth-child(2) {
      grid-column: span 1;
    }
    &:nth-child(3) {
      grid-column: span 1;
    }
    &:nth-child(4) {
      grid-column: span 1;
    }
    &:nth-child(5) {
      grid-column: span 2;
    }
    &:nth-child(6) {
      grid-column: span 1;
    }
  }
}
