.content {
  padding-top: desktop-vw(18px);
  padding-bottom: desktop-vw(18px);

  .about {
    grid-column: span 2;
  }

  .projects {
    grid-column: span 2;
  }

  .project-details {
    grid-column: span 4;
  }
}
