.content {
  width: 100%;
  align-items: center;

  .list {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    &:nth-child(1) {
      grid-column: 1/4;
    }
    &:nth-child(2) {
      grid-column: 4/7;
    }

    .title {
      transition: color 0.2s ease-in;
      font-weight: 700;
    }

    .link {
      svg {
        vertical-align: baseline;
        aspect-ratio: 1;
        width: desktop-vw(15px);
        height: desktop-vw(15px);
        transition: opacity 200ms ease-in, transform 200ms ease-in 100ms;
      }

      @include hover {
        &:not(:hover) {
          svg {
            opacity: 0;
            transform: translateX(-5px) rotate(-20deg);
          }
        }
      }
    }

    li {
      @include hover {
        &:hover {
          .title {
            color: var(--theme-contrast);
          }
        }
      }
    }
  }

  .image {
    user-select: none;
    grid-column: 7 / -1;
    position: relative;
    width: 100%;
    aspect-ratio: 1126 / 623;
  }
}

.sliders {
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
  padding-left: var(--layout-columns-gap);

  .slider {
    margin-bottom: mobile-vw(12px);

    &__wrapper {
      margin: mobile-vw(50px) 0;
    }

    .slide {
      height: mobile-vw(190px);
      min-width: 100%;
      margin-left: mobile-vw(20px);
      position: relative;

      .slide-image {
        height: mobile-vw(190px);
        width: mobile-vw(355px);
        aspect-ratio: 1080 / 608;
      }
    }
  }

  .title {
    font-weight: 700;
  }

  .link {
    svg {
      vertical-align: baseline;
      aspect-ratio: 1;
      width: mobile-vw(8px);
      height: mobile-vw(8px);
    }
  }
}
