.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  max-height: 100vh;
  width: desktop-vw(732px);
  background-color: var(--black);
  z-index: 3;
  transition: transform 1s var(--ease-out-expo);
  padding: desktop-vh(16px) var(--layout-columns-gap) desktop-vh(8px)
    var(--layout-columns-gap);
  display: flex;
  flex-direction: column;

  &:not(.open) {
    transform: translateX(100%);
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    .cta {
      margin-bottom: desktop-vw(19px);
    }
  }

  .separator {
    display: block;
    position: absolute;
    transform: translateY(15%);
  }

  .content {
    padding-top: desktop-vh(16px);
    padding-bottom: desktop-vh(24px);
  }
}

.container {
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    inset: 0;
    z-index: 2;
    pointer-events: none;
    transition: opacity 1s var(--ease-out-expo);
  }

  &:not(.open) {
    &:before {
      opacity: 0;
    }
  }
}

.scrollable {
  max-height: 100%;
  padding-bottom: desktop-vw(100px);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: desktop-vw(24px);
}

.accordion {
  padding: desktop-vw(48px) 0 desktop-vw(24px) 0;

  .title {
    padding-bottom: desktop-vw(24px);
  }

  &-root {
    padding: desktop-vw(24px) 0;
    padding-bottom: 0;

    .item {
      border-top: 1px solid var(--grey);
      padding: desktop-vw(16px) 0;

      &:last-child {
        border-bottom: 1px solid var(--grey);
      }
    }

    .trigger {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      width: 100%;

      .icon {
        width: desktop-vw(26px);
        height: desktop-vw(26px);
        aspect-ratio: 1;

        .x {
          transform-origin: center center;
          transform: rotate(45deg);
          transition: transform 0.5s var(--ease-out-expo);
        }
      }

      &[data-state='open'] > .icon > .x {
        transform: rotate(0);
      }
    }
  }

  &-content {
    padding-top: desktop-vw(16px);
    overflow: hidden;
    max-width: 80%;

    &[data-state='open'] {
      animation: slideDown 300ms ease-out;
    }
    &[data-state='closed'] {
      animation: slideUp 300ms ease-out;
    }

    @keyframes slideDown {
      from {
        padding: 0;
        height: 0;
      }
      to {
        padding: desktop-vw(16px) 0;
        height: var(--radix-accordion-content-height);
      }
    }

    @keyframes slideUp {
      from {
        padding: desktop-vw(16px) 0;
        height: var(--radix-accordion-content-height);
      }
      to {
        padding: 0;
        height: 0;
      }
    }
  }
}
